/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

 .col-xs-12.col-sm-12.col-md-5.col-lg-4.login-center {
    position: relative;
    left: 700px;
}

.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}

textarea {
    resize: none;
    min-height:100px;
}

