<aside id="left-panel">
	<!-- User info -->
	<div class="login-info">
        <span>           
            <a href="#" id="show-shortcut">
                <img src="img/avatars/sunny.png" alt="me" class="online" /> 
                <span>
                    {{.UserName}}
                </span>
            </a>
        </span>
	</div>
	<!-- end user info -->

	<!-- NAVIGATION : This navigation is also responsive-->
	<nav>
        <ul>
            <li>
                <a href="job_openings" title="Dashboard"><i class="fa fa-newspaper-o"></i> <span class="menu-item-parent">Job Openings</span></a>
            </li>
            <li class="">
                <a href="#"><i class="fa fa-newspaper-o"></i> <span class="menu-item-parent">Blog</span><b class="collapse-sign"><em class="fa fa-plus-square-o"></em></b></a>
				<ul>
				    <li>
					    <a href="blogs">List Blogs</a>
					</li>
					<li>
						<a href="add_blog">Add Blog</a>
					</li>
					<li>
						<a href="categories">Categories</a>
					</li>
                    <li>
						<a href="tags">Tags</a>
					</li>
				</ul>
			</li>
        </ul>
	</nav>
	

	<span class="minifyme" data-action="minifyMenu"> 
        <i class="fa fa-arrow-circle-left hit"></i> 
	</span>

</aside>
<!-- END NAVIGATION -->